.top-cities-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.top-cities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}