.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 80px;
    padding: 80px;
  }
  .grid-item {
    font-size: 30px;
  }

  .large-image-container img{
    width: 600px;
    margin: 10px 0 0 5px;
    border-radius: 24px;
  }

  .small-image-container img{
    width: 194px;
    margin: 5px;
    border-radius: 12px;
  }