.cities-details-headline{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px 0;
}

.cities-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}