.see-all-cities-headline{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px 0;
}

.see-all-cities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.all-cities-btn {
    margin: 10px;
    background-color:var(--background-color);
    color:var(--black);
    border-color:var(--black);
}

.all-cities-btn:hover {
    background-color:var(--purple);
    color:var(--white);
}