.homepage-container img {
    height: 500px;
    width: 450px;
}

.compare-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-left-container {
    width: 25%;
    line-height: 2;
}

.compare-left-container h3 {
    font-weight: 500;
    font-size: 28px;
}

.inclusive-homes-container {
    background-color:var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 488px;
    width: 1280px;
}

button {
    background-color:var(--purple);
    border: none;
    color:var(--white);
    width: 240px;
    height: 48px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}